<h2>List All Customers</h2>

<% allCustomers.forEach(function(customers) { %>
  <ul>
      <li> <%= customers.name %> </li>
      <li> <%= customers.local.email %> </li>
      <li> <%= customers.local.password %> </li>
      <li> <%= customers.billingAddress %> </li>
      <li> <%= customers.deliveryAddress %> </li>
      <li> <%= customers.phoneNumber %> </li>
      <br>
  </ul>
<% }) %>
