<h1>Customer Profile Page</h1>

<% if(message.length > 0) { %>
  <h3>Flash Message Found</h3>
  <div class="FlashMessage">
    <%= message %>
  </div>
<% } %>


<table class="table">

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Billing Address</th>
    <th>Deivery Address</th>
    <th>Phone Number</th>
  </tr>

    <tr>
      <td> <%= customerData.name %> </td>
      <td> <%= customerData.local.email %> </td>
      <td> <%= customerData.billingAddress %> </td>
      <td> <%= customerData.deliveryAddress %> </td>
      <td> <%= customerData.phoneNumber %> </td>
    </tr>

 </table>

  <br>
  <a href="/customers/product">Shop Now</a>

  <br>
  <a href="/customers/cart">See My Cart</a>

  <br>
  <a href="/customers/logout">Logout</a>
