<h2>Customer Profile</h2>

<% if(message.length > 0) { %>
  <h3>Flash Message Found</h3>
  <div class="FlashMessage">
    <%= message %>
  </div>
<% } %>


<table class="table">

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Billing Address</th>
    <th>Deivery Address</th>
    <th>Phone Number</th>
  </tr>

    <tr>
      <td> <%= customerData.name %> </td>
      <td> <%= customerData.local.email %> </td>
      <td> <%= customerData.billingAddress %> </td>
      <td> <%= customerData.deliveryAddress %> </td>
      <td> <%= customerData.phoneNumber %> </td>
    </tr>

 </table>

 <form method="POST" action="/customers/delete/<%=customerData.id%>" enctype="application/x-www-form-urlencoded">
   <input type="hidden" name="_method" value="DELETE">
   <button type="submit">Delete My Account</button>
 </form>

  <br>
  <a href="/customers/product"> <h3>Shop HERE to shop!<h3> </a>
  <br>
